    @media only screen and (min-width: 320px) {
        /* - - - HEADER - - -  */
        html {
            font-size: 15px;
        }
        .button .btn {
            display: inline-flex;
            margin: 20px 0px;
        }
        header {
            display: block;
            font-size: 0.8rem;
            padding: 10px 40px;
        }
        .logo img {
            padding: 30px 0px;
            width: 220px;
        }
        nav {
            display: flex;
            align-self: center;
            text-align: left;
        }
        .main-nav li {
            display: block;
            margin: 5px;
        }
        .main-nav li a {
            display: flex;
            padding: 0;
        }
        /* - - - FOOTER - - -  */
        footer {
            display: flex;
            font-size: 0.5rem;
            padding: 5px 25px;
        }
        .footer-nav li {
            display: block;
            margin: 5px;
        }
        .footer-nav li a:link,
        .footer-nav li a:visited {
            display: flex;
            padding: 0;
        }
        .footer-button .footer-btn {
            font-size: 0.5rem;
        }
    }
    
    @media only screen and (min-width: 768px) {
        /* - - - HEADER - - -  */
        html {
            font-size: 15px;
        }
    }
    
    @media only screen and (min-width: 1200px) {}
    
    @media only screen and (min-width: 1600px) {}