/* Colors:
                  grey: #36383B;
                  teal: #0DA3AC;
                  dark blue: #171B1D */


/* BASIC SETUP */


/* ----------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    color: #555;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


/* HEADINGS */


/* ----------------------------------------------- */

h1,
h2 {
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 110%;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    font-weight: 300;
    line-height: 0.8em;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 50%;
    font-weight: 500;
}

h5 {
    font-size: 110%;
    font-weight: 500;
    line-height: 0.8em;
    margin: 0;
    padding: 0;
    word-spacing: 3px;
}

h6 {
    font-size: 90%;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    word-spacing: 3px;
}

p {
    font-size: 16px;
    line-height: 1.8em;
    word-spacing: 4px;
    letter-spacing: 0.5px;
}

b {
    font-weight: 600;
}


/* REUSABLE COMPONENTS */


/* ----------------------------------------------- */

li,
a,
button {
    font-weight: 400;
    color: #ecf0f1;
}


/* HEADER */


/* ----------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: #36383B;
    font-size: 16px;
}

.logo {
    cursor: pointer;
    min-width: 400px;
    background-color: #36383B;
}

ul {
    margin: 0;
    background-color: #36383B;
}

.nav-links ul {
    list-style: none;
    background-color: #36383B;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #36383B;
}

.nav-links li a {
    transition: all 0.5s ease 0s;
}

.nav-links li a:hover {
    color: #0DA3AC;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.5);
}


/* BODY */


/* ----------------------------------------------- */

.why-freelance {
    display: flex;
    width: auto;
    margin: 0%;
    align-items: center;
    background-color: #36383B;
    color: #fff;
}

.left-side,
h1 {
    flex: 1;
    text-align: right;
    padding: 2% 3%;
    background-color: #36383B;
}

.right-side {
    padding: 3% 5%;
}

.right-side,
h3 {
    flex: 1;
}

.right-side,
h3,
b,
em {
    background-color: #171B1D;
}


/* ICONS */


/* ----------------------------------------------- */

.fp-icons {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.large-icons {
    flex: 1;
    background-color: #fff;
    font-size: 1.5em;
    /* padding-top: 3%; */
}

.large-icons {
    transition: all 0.5s ease 0s;
    color: #0DA3AC;
}

.large-icons:hover {
    color: #36383B;
}

.large-icon-headings {
    flex: 1;
    background-color: #fff;
    font-size: 1.5em;
    padding-bottom: 3%;
}


/* CLIENT LOGO SECTION */


/* ----------------------------------------------- */

.trusted-by {
    color: #171B1D;
    background-color: #fff;
    text-align: center;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.trusted-by,
h5 {
    padding-top: 1%;
    padding-bottom: 1%;
}

.client-section,
.client-logos {
    margin: 1% 10%;
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-items: center;
    align-items: center;
}


/* FOOTER */


/* ----------------------------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10%;
    background-color: #36383B;
    font-size: 12px;
}

.footer-logo {
    cursor: pointer;
    width: 300px;
    background-color: #36383B;
}

ul {
    margin: 0;
    background-color: #36383B;
}

.nav-links-footer ul {
    list-style: none;
    background-color: #36383B;
}

.nav-links-footer li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #36383B;
}

.nav-links-footer li a {
    transition: all 0.5s ease 0s;
}

.nav-links-footer li a:hover {
    color: #0DA3AC;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.5);
}


/* CONTACT PAGE */


/* ----------------------------------------------- */

.grid-container {
    display: grid;
    margin: 3% 15%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    background-color: #fff;
}

.grid-container,
.med-icons,
.icon-headings {
    background-color: #fff;
}

.grid-container p {
    font-weight: 500;
    font-size: 80%;
    padding-top: 20px;
}

.contact-grid {
    display: grid;
    padding: 1.5% 15%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    align-content: center;
    justify-content: center;
    color: #fff;
    background-color: #171B1D;
}

.contact-details,
h6 p {
    /* padding-left: 10%; */
    text-align: center;
}

.contact-details,
p {
    padding-top: 20px;
}

.googlemap {
    margin-bottom: -1%;
}