     /* BASIC SETUP */
     /* ----------------------------------------------- */
     
     * {
         box-sizing: border-box;
         margin: 0;
         padding: 0;
     }
     
     html,
     body {
         color: #555;
         font-family: 'Montserrat', 'Arial', sans-serif;
         font-size: 20px;
         font-weight: 400;
         text-rendering: optimizeLegibility;
         overflow-x: hidden;
     }
     
     ul,
     li,
     a {
         margin: 0;
         padding: 0;
     }
     /* GENERAL */
     /* ----------------------------------------------- */
     
     p {
         font-size: 1rem;
         line-height: 1.8rem;
         word-spacing: 2px;
     }
     
     b {
         font-weight: 600;
     }
     
     h1 {
         font-size: 3rem;
         word-spacing: 4px;
         letter-spacing: 1px;
         text-transform: uppercase;
         font-weight: 300;
     }
     
     h2 {
         font-size: 2rem;
         font-weight: 300;
         line-height: 0.8em;
     }
     
     h3 {
         font-size: 1.2rem;
         font-weight: 500;
         line-height: 2rem;
     }
     
     h4 {
         font-size: 1.2rem;
         font-weight: 500;
         line-height: 2rem;
         margin: auto;
         padding: 1% 1% 1% 1%;
         text-align: center;
         max-width: 40%;
     }
     
     .category-heading {
         background-color: #36383B;
     }
     
     .category-heading h1 {
         color: #fff;
         margin: 0;
         line-height: 3rem;
         text-align: center;
         font-size: 1.5rem;
         padding: 30px 0px 30px 0px;
     }
     
     .category-heading h2 {
         color: #fff;
         margin: 0;
         padding: 1%;
         line-height: 3rem;
         text-align: center;
     }
     
     .category-heading h3 {
         color: #fff;
         margin: auto;
         padding: 0% 1% 1% 1%;
         line-height: 2rem;
         text-align: center;
         font-weight: 300;
         max-width: 40%;
     }
     
     .section-row {
         background-color: #171B1D;
         padding: 20px;
         margin: 30px 0px 30px 0;
     }
     
     .section-row h2 {
         color: #fff;
         margin: 0;
         padding: 1%;
         line-height: 3rem;
         text-align: center;
         font-size: 1.5rem;
     }
     /* ICONS */
     /* ----------------------------------------------- */
     
     .large-icons {
         align-content: center;
         justify-content: center;
         text-align: center;
         padding: 5% 5% 5% 5%;
         color: #0DA3AC;
         font-size: 2.5rem;
     }
     /* HEADER */
     /* ----------------------------------------------- */
     
     header {
         display: flex;
         justify-content: space-between;
         padding: 30px 50px;
         background-color: #36383B;
         text-decoration: none;
         text-transform: uppercase;
         font-size: 0.8rem;
     }
     
     .logo {
         cursor: pointer;
         width: 300px;
         background-color: #36383B;
     }
     
     nav {
         display: flex;
         align-self: center;
     }
     
     .main-nav li {
         display: inline-flex;
         margin: 15px;
     }
     
     .main-nav li a:link,
     .main-nav li a:visited {
         padding: 5px 10px 5px 0px;
         color: #fff;
         text-transform: uppercase;
         text-decoration: none;
         border-bottom: 1px solid transparent;
         border-top: 1px solid transparent;
         transition: all 0.5s ease 0s;
     }
     
     .main-nav li a:hover,
     .main-nav li a:active {
         border-bottom: 1px solid #0DA3AC;
         border-top: 1px solid #0DA3AC;
     }
     
     .button {
         align-self: center;
     }
     
     .button .btn {
         display: inline-flex;
         color: #fff;
         margin: 15px;
         font-size: 0.8rem;
         border-bottom: 1px solid #fff;
         border-top: 1px solid #fff;
         padding: 5px 10px;
         transition: all 0.5s ease 0s;
     }
     
     .button a:hover {
         border-bottom: 1px solid #0DA3AC;
         border-top: 1px solid #0DA3AC;
     }
     /* HERO IMAGES */
     /* ----------------------------------------------- */
     
     .hero img {
         width: 100vw;
     }
     /* FOOTER */
     /* ----------------------------------------------- */
     
     footer {
         display: flex;
         justify-content: space-between;
         padding: 10px 50px;
         background-color: #36383B;
         text-decoration: none;
         text-transform: uppercase;
         font-size: 0.8rem;
     }
     
     .footer-nav li {
         display: inline-flex;
         margin: 15px;
     }
     
     .footer-nav li a:link,
     .footer-nav li a:visited {
         padding: 5px 0px;
         color: #fff;
         text-transform: uppercase;
         text-decoration: none;
         border-bottom: 1px solid transparent;
         border-top: 1px solid transparent;
         transition: all 0.5s ease 0s;
     }
     
     .footer-nav li a:hover,
     .footer-nav li a:active {
         border-bottom: 1px solid #0DA3AC;
         border-top: 1px solid #0DA3AC;
     }
     
     .facebook-icon {
         color: rgb(172, 172, 172);
         font-size: 1.5rem;
         align-self: center;
     }
     
     .facebook-icon a:link,
     .facebook-icon a:visited {
         color: #fff;
         transition: all 0.5s ease 0s;
     }
     
     .facebook-icon a:hover {
         color: #0DA3AC;
     }
     
     .footer-button a:hover {
         border-bottom: 1px solid #0DA3AC;
         border-top: 1px solid #0DA3AC;
     }
     
     .footer-button {
         align-self: center;
     }
     
     .footer-button .footer-btn {
         display: inline-flex;
         color: #fff;
         margin: 15px;
         font-size: 0.8rem;
         border-bottom: 1px solid #fff;
         border-top: 1px solid #fff;
         padding: 5px 10px;
         transition: all 0.5s ease 0s;
         text-decoration: none;
     }
     /* SECTION: WHY FREELANCE */
     /* ----------------------------------------------- */
     
     .why-freelance {
         display: grid;
         margin: 0%;
         background-color: #36383B;
         color: #fff;
         grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
         align-items: center;
     }
     
     .left-side {
         padding: 3% 3%;
         align-items: center;
     }
     
     .left-side,
     h1 {
         text-align: right;
         margin-left: auto;
         margin-right: 0;
     }
     
     .right-side {
         flex: 1;
         padding: 5% 3%;
         background-color: #171B1D;
     }
     
     .right-side p {
         max-width: 500px;
         margin-left: 0;
         margin-right: auto;
     }
     /* CLIENT LOGO SECTION */
     /* ----------------------------------------------- */
     
     .trusted-header h2 {
         padding: 3% 0% 2% 0%;
         font-weight: 400;
         font-size: 1.5rem;
         text-align: center;
     }
     
     .trusted-by {
         display: grid;
         grid-template-columns: repeat(10, 1fr);
         grid-column-gap: 1em;
         grid-row-gap: 1em;
         width: 90vw;
         margin: 1% auto;
         color: #171B1D;
         background-color: #fff;
         padding-bottom: 2%;
     }
     
     .client-section {
         display: flex;
         justify-self: center;
         align-items: center;
     }
     
     .client-logos {
         width: 100%;
         margin-left: auto;
         margin-right: auto;
     }
     /* CONTACT PAGE */
     /* ----------------------------------------------- */
     
     .features-grid {
         display: grid;
         margin-left: auto;
         margin-right: auto;
         padding: 20px 20px;
         /* grid-column-gap: 20px; */
         align-items: top;
         justify-items: center;
         text-align: center;
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     }
     
     .features-grid h3 {
         text-transform: uppercase;
         max-width: 250px;
     }
     
     .features-grid p {
         max-width: 250px;
         text-align: center;
     }
     
     .contact-grid {
         display: grid;
         margin-left: auto;
         margin-right: auto;
         background-color: #171B1D;
         /* grid-column-gap: 20px; */
         align-items: top;
         justify-items: center;
         text-align: center;
         grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
     }
     
     .contact-details {
         display: block;
         color: #fff;
         padding: 20px 0px 20px 0px;
         max-width: 500px;
     }
     
     .contact-grid .iframe {
         max-width: 500px;
     }
     
     .contact-details a:link,
     .contact-details a:visited {
         text-decoration: none;
         color: #fff;
         transition: all 0.5s ease 0s;
         font-size: 1rem;
     }
     
     .contact-details a:hover,
     .contact-details a:active {
         color: #0DA3AC;
     }
     /* MARKETING & DESIGN PAGE */
     /* ----------------------------------------------- */
     
     .corporate-id {
         display: grid;
         margin-left: auto;
         margin-right: auto;
         grid-row-gap: 20px;
         background-color: #171B1D;
         align-items: top;
         justify-items: center;
         text-align: center;
         grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
         padding-top: 30px;
         padding-bottom: 30px;
     }
     
     .corporate-logos {
         width: 60%;
     }
     
     .gallery-grid {
         display: grid;
         margin-left: auto;
         margin-right: auto;
         grid-row-gap: 20px;
         grid-column-gap: 20px;
         background-color: #171B1D;
         align-items: top;
         justify-items: center;
         text-align: center;
         grid-template-columns: repeat(auto-fit, minmax(30%, 3fr));
         /* padding-top: 30px;
         padding-bottom: 30px; */
         padding: 30px;
     }
     
     .gallery-items {
         width: 100%;
     }
     
     .website-promo-grid {
         display: grid;
         margin-left: auto;
         margin-right: auto;
         grid-row-gap: 20px;
         grid-column-gap: 20px;
         background-color: #f7b219;
         align-items: top;
         justify-items: center;
         text-align: center;
         grid-template-columns: repeat(auto-fit, minmax(30%, 3fr));
         /* padding-top: 30px;
        padding-bottom: 30px; */
         padding: 30px;
     }
     
     .fp-promo-grid {
         display: grid;
         margin-left: auto;
         margin-right: auto;
         grid-row-gap: 5px;
         grid-column-gap: 20px;
         background-color: #171B1D;
         align-items: top;
         justify-items: center;
         text-align: center;
         grid-template-columns: repeat(auto-fit, minmax(30%, 3fr));
         /* padding-top: 30px;
       padding-bottom: 30px; */
         padding: 20px;
     }